.pagination {
  display: flex;
  border-radius: 10px;
}

.pagination__btn {
  border: 1px solid;
  padding: 1rem;
  cursor: pointer;
}

.Disabled {
  background-color: lightgray;
}

@media only screen and (max-width: 584px) {
  .pagination {
    width: 100%;
    flex-direction: column;
  }

  .pagination__btn {
    width: 100%;
    text-align: center;
  }
}
