.setting {
  width: 100%;
  height: 100vh;
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  color: lightblue;
  opacity: 0.5;
}

.setting__title {
  text-align: center;
  font-size: 10rem;
  font-weight: 900;
  color: lightblue;
  opacity: 0.5;
}

.setting__btn {
  color: white;
  background-color: #1d9bf0;
  padding: 1rem;
  border-radius: 10px;
  border: none;
  cursor: pointer;
}

@media only screen and (max-width: 1200px) {
  .setting__title {
    font-size: 8rem;
  }
}

@media only screen and (max-width: 600px) {
  .setting__title {
    font-size: 6rem;
  }
}
